@charset "UTF-8";
@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url("../fonts/OpenSans-SemiBold.eot");
  src: url("../fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype"), url("../fonts/OpenSans-SemiBold.svg#osOpenSans-SemiBold") format("svg");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'OpenSans-Bold';
  src: url("../fonts/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans-Bold.svg#OpenSans-Bold") format("svg");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'OpenSans-Regular';
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype"), url("../fonts/OpenSans-Regular.svg#OpenSans-Regular") format("svg");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'OpenSans-Italic';
  src: url("../fonts/OpenSans-Italic.eot");
  src: url("../fonts/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Italic.woff") format("woff"), url("../fonts/OpenSans-Italic.ttf") format("truetype"), url("../fonts/OpenSans-Italic.svg#OpenSans-Italic") format("svg");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'FreestyleScript';
  src: url("../fonts/FreestyleScript.eot");
  src: url("../fonts/FreestyleScript.eot?#iefix") format("embedded-opentype"), url("../fonts/FreestyleScript.woff") format("woff"), url("../fonts/FreestyleScript.ttf") format("truetype"), url("../fonts/FreestyleScript.svg#FreestyleScript") format("svg");
  font-style: normal;
  font-weight: normal; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto; }

.full-container {
  width: 100%;
  max-width: 1900px;
  margin: 0 auto; }

.section-title {
  font-family: OpenSans-Bold;
  font-size: 30px;
  line-height: 1.5;
  color: #5b6ceb;
  text-transform: uppercase; }

button {
  cursor: pointer; }

*:focus {
  outline: none; }

header {
  position: fixed;
  height: 100px;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 2px solid #5363db;
  -webkit-box-shadow: 0 0 10px 3px #5363db;
  -moz-box-shadow: 0 0 10px 3px #5363db;
  box-shadow: 0 0 10px 3px #5363db;
  z-index: 999999; }
  header .container {
    height: 100%;
    display: flex;
    justify-content: center; }
    header .container ul {
      width: 100%;
      max-width: 800px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      header .container ul li {
        display: inline;
        position: relative;
        font-family: OpenSans-SemiBold;
        font-size: 14px; }
        header .container ul li:hover a {
          color: #5363db; }
        header .container ul li:hover:after {
          width: 25%; }
        header .container ul li:hover:before {
          width: 25%; }
        header .container ul li:after {
          content: '';
          position: absolute;
          width: 0;
          height: 1px;
          left: 50%;
          bottom: -6px;
          background-color: #5363db;
          transition: all 0.3s ease; }
        header .container ul li:before {
          content: '';
          position: absolute;
          width: 0;
          height: 1px;
          right: 50%;
          bottom: -6px;
          background-color: #5363db;
          transition: all 0.3s ease; }
        header .container ul li a {
          text-decoration: none;
          color: #555555;
          transition: all 0.3s ease; }
        header .container ul li.logo {
          width: 370px;
          display: flex;
          justify-content: center; }
          header .container ul li.logo:hover:after, header .container ul li.logo:hover:before {
            content: none; }

#reserv {
  padding-top: 100px; }
  #reserv .full-container {
    height: 600px;
    background: #5363db url("../img/bg-img1.jpg") center bottom no-repeat; }
    #reserv .full-container .container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 100%; }
    #reserv .full-container .content {
      width: 100%;
      max-width: 875px;
      margin-right: 55px;
      display: flex;
      justify-content: space-between; }
      #reserv .full-container .content form {
        width: 300px;
        height: 390px;
        padding: 25px 35px 35px 30px;
        box-sizing: border-box;
        background-color: #ffffff;
        border-radius: 19px; }
        #reserv .full-container .content form .title {
          font-family: OpenSans-SemiBold;
          font-size: 26px;
          color: #5363db;
          margin-bottom: 22px; }
        #reserv .full-container .content form input,
        #reserv .full-container .content form select {
          width: 100%;
          height: 50px;
          margin: 10px 0;
          padding-left: 10px;
          background-color: #f2f2f2;
          color: #888888;
          border: 1px solid #f2f2f2;
          border-radius: 6px;
          box-sizing: border-box;
          outline: none; }
          #reserv .full-container .content form input::-webkit-input-placeholder,
          #reserv .full-container .content form select::-webkit-input-placeholder {
            text-indent: 0px;
            transition: text-indent 0.3s ease; }
          #reserv .full-container .content form input::-moz-placeholder,
          #reserv .full-container .content form select::-moz-placeholder {
            text-indent: 0px;
            transition: text-indent 0.3s ease; }
          #reserv .full-container .content form input:-moz-placeholder,
          #reserv .full-container .content form select:-moz-placeholder {
            text-indent: 0px;
            transition: text-indent 0.3s ease; }
          #reserv .full-container .content form input:-ms-input-placeholder,
          #reserv .full-container .content form select:-ms-input-placeholder {
            text-indent: 0px;
            transition: text-indent 0.3s ease; }
          #reserv .full-container .content form input:focus::-webkit-input-placeholder,
          #reserv .full-container .content form select:focus::-webkit-input-placeholder {
            font-family: OpenSans-Regular;
            font-size: 14px;
            color: #888888;
            text-indent: 500px;
            transition: text-indent 0.3s ease; }
          #reserv .full-container .content form input:focus::-moz-placeholder,
          #reserv .full-container .content form select:focus::-moz-placeholder {
            font-family: OpenSans-Regular;
            font-size: 14px;
            color: #888888;
            text-indent: 500px;
            transition: text-indent 0.3s ease; }
          #reserv .full-container .content form input:focus:-moz-placeholder,
          #reserv .full-container .content form select:focus:-moz-placeholder {
            font-family: OpenSans-Regular;
            font-size: 14px;
            color: #888888;
            text-indent: 500px;
            transition: text-indent 0.3s ease; }
          #reserv .full-container .content form input:focus:-ms-input-placeholder,
          #reserv .full-container .content form select:focus:-ms-input-placeholder {
            font-family: OpenSans-Regular;
            font-size: 14px;
            color: #888888;
            text-indent: 500px;
            transition: text-indent 0.3s ease; }
        #reserv .full-container .content form option {
          font-family: OpenSans-Regular;
          font-size: 14px;
          color: #888888; }
        #reserv .full-container .content form button {
          font-family: OpenSans-Bold;
          font-size: 16px;
          color: #ffffff;
          width: 170px;
          height: 50px;
          margin-top: 22px;
          border: 0;
          box-shadow: none;
          border-radius: 7px;
          background-color: #5b6ceb;
          float: right; }
          #reserv .full-container .content form button:hover {
            background-color: #475bf1; }
          #reserv .full-container .content form button.disabled {
            opacity: 0.5;
            cursor: default; }
            #reserv .full-container .content form button.disabled:hover {
              background-color: #5b6ceb; }
      #reserv .full-container .content .info {
        width: 490px; }
        #reserv .full-container .content .info .info-title {
          font-family: OpenSans-Bold;
          font-size: 48px;
          line-height: 1.5;
          color: #ffffff;
          text-transform: uppercase;
          margin-bottom: 50px; }
        #reserv .full-container .content .info .info-description {
          font-family: FreestyleScript;
          font-size: 40px;
          color: #ffffff; }

.program .container {
  padding: 125px 0 100px; }
  .program .container .section-title {
    text-align: center;
    margin-bottom: 25px; }
  .program .container .under-title {
    display: block;
    font-family: FreestyleScript;
    font-size: 41px;
    line-height: 1.5;
    color: #777777;
    text-align: center;
    margin: 0 auto 75px; }
  .program .container .our-classes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .program .container .our-classes .class-block {
      display: flex;
      width: 570px;
      height: 300px;
      margin-bottom: 25px;
      border-radius: 7px;
      -webkit-box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1); }
      .program .container .our-classes .class-block .left-column {
        width: 270px; }
        .program .container .our-classes .class-block .left-column img {
          width: 100%;
          height: 100%; }
      .program .container .our-classes .class-block .right-column {
        width: 300px;
        padding: 50px 0 0 30px; }
        .program .container .our-classes .class-block .right-column .block-title {
          font-family: OpenSans-Bold;
          font-size: 20px;
          color: #777777;
          margin-bottom: 35px;
          text-transform: uppercase; }
        .program .container .our-classes .class-block .right-column .class-info {
          font-family: OpenSans-Regular;
          font-size: 14px;
          line-height: 1.5;
          color: #555555;
          margin-bottom: 15px; }
        .program .container .our-classes .class-block .right-column .caption {
          font-family: OpenSans-Regular;
          font-size: 14px;
          line-height: 1.5;
          color: #999999; }

.gallery {
  display: flex;
  flex-wrap: wrap; }
  .gallery .photo {
    width: 25%;
    height: 350px; }
    .gallery .photo a {
      position: relative;
      display: block;
      height: 350px;
      overflow: hidden; }
      .gallery .photo a:hover .search {
        top: 0;
        left: 0; }
      .gallery .photo a img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
      .gallery .photo a .search {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -100%;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: rgba(91, 108, 231, 0.8);
        transition: all 0.3s linear 0s; }
        .gallery .photo a .search div {
          width: 57px;
          height: 57px;
          border-radius: 50%;
          background: #ffffff url("../img/search.png") center no-repeat; }

#about {
  height: 550px; }
  #about .container {
    display: flex;
    justify-content: space-between;
    padding: 125px 0; }
    #about .container .about-block {
      width: 470px; }
      #about .container .about-block .section-title {
        margin-bottom: 30px; }
      #about .container .about-block .about-info {
        font-family: OpenSans-Regular;
        font-size: 14px;
        line-height: 1.5;
        color: #555555; }
    #about .container .about-slider {
      width: 570px;
      height: 300px;
      border-radius: 7px; }
      #about .container .about-slider img {
        width: 100%;
        height: 300px;
        object-fit: cover; }
      #about .container .about-slider .slick-prev {
        left: -25px;
        width: 50px;
        height: 50px;
        background: #ffffff url("../img/prev.png") center no-repeat;
        border: 1px solid #5363db;
        border-radius: 50%;
        z-index: 2; }
        #about .container .about-slider .slick-prev:before {
          content: ''; }
      #about .container .about-slider .slick-next {
        right: -25px;
        width: 50px;
        height: 50px;
        background: #ffffff url("../img/next.png") center no-repeat;
        border: 1px solid #5363db;
        border-radius: 50%;
        z-index: 2; }
        #about .container .about-slider .slick-next:before {
          content: ''; }

#elements .full-container {
  background: #5363db url("../img/bg-img2.jpg") center bottom no-repeat;
  background-size: cover;
  padding: 125px 0 75px; }
  #elements .full-container .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    #elements .full-container .container .element {
      width: 270px;
      height: 250px;
      margin-bottom: 50px;
      text-align: center; }
      #elements .full-container .container .element .element-img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 70px;
        margin: 0 auto;
        border: 1px solid #ffffff;
        border-radius: 50%;
        margin-bottom: 30px; }
      #elements .full-container .container .element .element-title {
        display: block;
        font-family: OpenSans-Bold;
        font-size: 18px;
        line-height: 1.5;
        color: #ffffff;
        text-transform: uppercase;
        margin-bottom: 25px; }
      #elements .full-container .container .element .element-info {
        font-family: OpenSans-Regular;
        font-size: 16px;
        line-height: 1.5;
        color: #ffffff; }

#shop .container {
  display: flex;
  justify-content: space-between;
  padding: 100px 0 0; }
  #shop .container .offer {
    width: 370px;
    background: #ffffff;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 50px 9px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 50px 9px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 50px 9px rgba(0, 0, 0, 0.1); }
    #shop .container .offer .offer-header {
      display: flex;
      justify-content: center;
      vertical-align: center;
      padding: 50px 0;
      background: #5363db; }
      #shop .container .offer .offer-header .price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 200px;
        font-family: OpenSans-Bold;
        color: #ffffff; }
        #shop .container .offer .offer-header .price .currency {
          font-size: 32px; }
        #shop .container .offer .offer-header .price .price-value {
          font-size: 67px;
          margin-left: 24px; }
        #shop .container .offer .offer-header .price .month {
          font-size: 18px;
          margin-top: 37px; }
    #shop .container .offer .offer-body {
      padding: 50px 0 60px;
      font-family: OpenSans-Regular;
      font-size: 18px;
      color: #555555;
      text-transform: uppercase; }
      #shop .container .offer .offer-body span {
        display: block;
        position: relative;
        margin: 0 0 50px 70px; }
        #shop .container .offer .offer-body span:after {
          content: '';
          position: absolute;
          left: 65px;
          bottom: -25px;
          height: 1px;
          width: 99px;
          background: #d7d7d7; }
        #shop .container .offer .offer-body span:last-of-type:after {
          content: none;
          background: red; }
      #shop .container .offer .offer-body button {
        display: block;
        width: 170px;
        height: 50px;
        padding: 0;
        margin: 0 auto;
        font-family: OpenSans-SemiBold;
        font-size: 18px;
        color: #ffffff;
        background: #5363db;
        border: 1px solid #5363db;
        border-radius: 17px; }
        #shop .container .offer .offer-body button:hover {
          background: #475bf1;
          border-color: #475bf1; }

#blog .container {
  position: relative;
  padding-top: 100px;
  margin-bottom: 200px; }
  #blog .container .blog-wraper {
    position: static;
    height: 250px;
    border-radius: 7px;
    overflow: hidden;
    -webkit-box-shadow: 0 0 50px 9px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 50px 9px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 50px 9px rgba(0, 0, 0, 0.1); }
  #blog .container .blog-block {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
    opacity: 0; }
    #blog .container .blog-block .blog-element {
      display: flex;
      justify-content: flex-start;
      background: #ffffff;
      padding: 35px 75px 65px 60px; }
      #blog .container .blog-block .blog-element .image {
        position: relative; }
        #blog .container .blog-block .blog-element .image img {
          width: 125px;
          height: 125px;
          padding: 10px;
          border: 2px solid #d7d7d7;
          border-radius: 50%; }
        #blog .container .blog-block .blog-element .image:after {
          content: '';
          position: absolute;
          right: -45px;
          bottom: 10px;
          width: 2px;
          height: 75px;
          background: #d7d7d7; }
      #blog .container .blog-block .blog-element div {
        padding-left: 90px; }
        #blog .container .blog-block .blog-element div blockquote {
          position: relative;
          width: 640px;
          margin: 10px 0 20px;
          font-family: OpenSans-Italic;
          font-size: 14px;
          line-height: 1.5;
          color: #555555; }
          #blog .container .blog-block .blog-element div blockquote:before {
            content: '“';
            position: absolute;
            font-family: OpenSans-Regular;
            font-size: 60px;
            color: #5363db;
            top: -20px;
            left: -50px; }
          #blog .container .blog-block .blog-element div blockquote:after {
            content: '”';
            position: absolute;
            font-family: OpenSans-Regular;
            font-size: 60px;
            color: #5363db;
            bottom: -65px;
            right: -80px; }
        #blog .container .blog-block .blog-element div span {
          display: block;
          font-family: OpenSans-Regular;
          font-size: 14px;
          color: #777777;
          margin-bottom: 10px; }
        #blog .container .blog-block .blog-element div .name {
          font-family: OpenSans-Bold;
          font-size: 16px;
          color: #5b6ceb; }
    #blog .container .blog-block.hide {
      transition: bottom 0s 0.3s;
      opacity: 0; }
    #blog .container .blog-block.show {
      transition: bottom 0.3s;
      opacity: 1; }
    #blog .container .blog-block .slick-dots {
      display: flex;
      justify-content: center;
      flex-direction: column;
      right: -70px;
      bottom: 0;
      height: 100%;
      width: 33px;
      z-index: 100; }
      #blog .container .blog-block .slick-dots li {
        margin-bottom: 18px;
        border: 2px solid #d7d7d7;
        border-radius: 50%; }
        #blog .container .blog-block .slick-dots li.slick-active {
          border: 2px solid #5363db; }
          #blog .container .blog-block .slick-dots li.slick-active button:before {
            background: #5363db;
            opacity: 1; }
        #blog .container .blog-block .slick-dots li button {
          font-size: 71px; }
          #blog .container .blog-block .slick-dots li button:before {
            content: '';
            left: 5px;
            top: 5px;
            width: 10px;
            height: 10px;
            background: #d7d7d7;
            border-radius: 50%;
            opacity: 0; }
  #blog .container .blog-tabs {
    position: absolute;
    display: inline-block;
    width: 160px;
    left: 360px;
    bottom: -36px;
    z-index: 100; }
    #blog .container .blog-tabs .blog-tab {
      display: flex;
      justify-content: space-between;
      width: 100%;
      cursor: pointer; }
      #blog .container .blog-tabs .blog-tab img {
        width: 70px;
        height: 70px;
        border: 1px solid #d7d7d7;
        border-radius: 50%; }
      #blog .container .blog-tabs .blog-tab div {
        width: 90px;
        padding: 20px 0 0 10px; }
        #blog .container .blog-tabs .blog-tab div .name {
          font-family: OpenSans-Bold;
          font-size: 14px;
          color: #555555;
          margin-bottom: 10px; }
        #blog .container .blog-tabs .blog-tab div span {
          font-family: OpenSans-Regular;
          font-size: 12px;
          color: #777777; }
    #blog .container .blog-tabs .slick-prev {
      left: -60px;
      width: 30px;
      height: 30px;
      background: #ffffff url("../img/prev.png") center no-repeat;
      border-radius: 50%;
      z-index: 2;
      -webkit-box-shadow: 0 0 9px 9px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 0 9px 9px rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 9px 9px rgba(0, 0, 0, 0.1); }
      #blog .container .blog-tabs .slick-prev:before {
        content: ''; }
    #blog .container .blog-tabs .slick-next {
      right: -60px;
      width: 30px;
      height: 30px;
      background: #ffffff url("../img/next.png") center no-repeat;
      border-radius: 50%;
      z-index: 2;
      -webkit-box-shadow: 0 0 9px 9px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 0 9px 9px rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 9px 9px rgba(0, 0, 0, 0.1); }
      #blog .container .blog-tabs .slick-next:before {
        content: ''; }

footer {
  position: relative;
  background: #5b6ceb; }
  footer:before {
    content: '';
    position: absolute;
    bottom: 100%;
    right: 0;
    height: 615px;
    width: 925px;
    background: url("../img/lotos.png");
    background-size: cover;
    z-index: -1; }
  footer .container {
    display: flex;
    padding: 100px 0;
    font-family: OpenSans-Regular;
    font-size: 14px;
    line-height: 1.5;
    color: #ffffff; }
    footer .container .footer-title {
      font-family: OpenSans-Bold;
      font-size: 18px;
      color: #ffffff;
      text-transform: uppercase;
      margin-bottom: 60px; }
    footer .container .about-footer {
      width: 570px; }
      footer .container .about-footer .footer-info {
        width: 470px;
        margin-bottom: 70px; }
      footer .container .about-footer .social {
        display: flex;
        justify-content: space-between;
        width: 170px;
        height: 21px; }
        footer .container .about-footer .social a {
          width: 17px;
          height: 100%;
          background: url("../img/social.png") no-repeat; }
          footer .container .about-footer .social a:hover {
            -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
            transform: scale(1.2); }
          footer .container .about-footer .social a.twitter {
            background-position: -34px;
            width: 25px; }
          footer .container .about-footer .social a.facebook {
            background-position: -78px;
            width: 13px; }
          footer .container .about-footer .social a.google {
            background-position: -113px;
            width: 19px; }
          footer .container .about-footer .social a.instagram {
            background-position: -150px;
            width: 21px; }
    footer .container .contacts {
      width: 570px; }
      footer .container .contacts .contacts-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; }
        footer .container .contacts .contacts-block div {
          width: 235px;
          padding-left: 35px;
          margin-bottom: 30px; }
          footer .container .contacts .contacts-block div.adress {
            background: url("../img/adress.png") left 6px no-repeat; }
          footer .container .contacts .contacts-block div.email {
            background: url("../img/email.png") left 5px no-repeat; }
          footer .container .contacts .contacts-block div.phone {
            background: url("../img/phone.png") left 6px no-repeat; }
          footer .container .contacts .contacts-block div.url {
            background: url("../img/url.png") left 2px no-repeat; }
  footer .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background: #5363db; }
    footer .copyright span {
      font-family: OpenSans-Regular;
      font-size: 16px;
      color: #b7bffc; }

.lightbox .lb-image {
  border-color: #5363db; }

.lb-nav a.lb-prev {
  background-position: 20px 48%; }

.lb-nav a.lb-next {
  background-position: calc(100% - 20px) 48%; }
