@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url("../fonts/OpenSans-SemiBold.eot");
  src: url("../fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype"), url("../fonts/OpenSans-SemiBold.svg#osOpenSans-SemiBold") format("svg");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'OpenSans-Bold';
  src: url("../fonts/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans-Bold.svg#OpenSans-Bold") format("svg");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'OpenSans-Regular';
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype"), url("../fonts/OpenSans-Regular.svg#OpenSans-Regular") format("svg");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'FreestyleScript';
  src: url("../fonts/FreestyleScript.eot");
  src: url("../fonts/FreestyleScript.eot?#iefix") format("embedded-opentype"), url("../fonts/FreestyleScript.woff") format("woff"), url("../fonts/FreestyleScript.ttf") format("truetype"), url("../fonts/FreestyleScript.svg#FreestyleScript") format("svg");
  font-style: normal;
  font-weight: normal; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto; }

.full-container {
  width: 100%;
  max-width: 1900px;
  margin: 0 auto; }

.section-title {
  font-family: OpenSans-Bold;
  font-size: 30px;
  line-height: 1.5;
  color: #5b6ceb;
  text-transform: uppercase; }

header {
  height: 100px;
  background-color: #ffffff; }
  header .container {
    height: 100%;
    display: flex;
    justify-content: center; }
    header .container ul {
      width: 100%;
      max-width: 800px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      header .container ul li {
        display: inline;
        position: relative;
        font-family: OpenSans-SemiBold;
        font-size: 14px; }
        header .container ul li:hover a {
          color: #5363db; }
        header .container ul li:hover:after {
          content: '';
          position: absolute;
          width: 50%;
          height: 1px;
          left: 25%;
          bottom: -6px;
          background-color: #5363db; }
        header .container ul li a {
          text-decoration: none;
          color: #555555; }
        header .container ul li.logo {
          width: 370px;
          display: flex;
          justify-content: center; }
          header .container ul li.logo:hover:after {
            content: none; }

#reserv .full-container {
  position: relative;
  height: 600px;
  background: #5363db url("../img/bg-img1.png") center bottom no-repeat; }
  #reserv .full-container:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(83, 99, 219, 0.8); }
  #reserv .full-container .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%; }
  #reserv .full-container .content {
    width: 100%;
    max-width: 875px;
    margin-right: 55px;
    display: flex;
    justify-content: space-between;
    z-index: 2; }
    #reserv .full-container .content form {
      width: 300px;
      height: 390px;
      padding: 25px 35px 35px 30px;
      box-sizing: border-box;
      background-color: #ffffff;
      border-radius: 19px; }
      #reserv .full-container .content form .title {
        font-family: OpenSans-SemiBold;
        font-size: 26px;
        color: #5363db;
        margin-bottom: 22px; }
      #reserv .full-container .content form input,
      #reserv .full-container .content form select {
        width: 100%;
        height: 50px;
        margin: 10px 0;
        padding-left: 10px;
        background-color: #f2f2f2;
        color: #888888;
        border: 0;
        border-radius: 6px;
        box-sizing: border-box;
        outline: none; }
        #reserv .full-container .content form input::-webkit-input-placeholder,
        #reserv .full-container .content form select::-webkit-input-placeholder {
          text-indent: 0px;
          transition: text-indent 0.3s ease; }
        #reserv .full-container .content form input::-moz-placeholder,
        #reserv .full-container .content form select::-moz-placeholder {
          text-indent: 0px;
          transition: text-indent 0.3s ease; }
        #reserv .full-container .content form input:-moz-placeholder,
        #reserv .full-container .content form select:-moz-placeholder {
          text-indent: 0px;
          transition: text-indent 0.3s ease; }
        #reserv .full-container .content form input:-ms-input-placeholder,
        #reserv .full-container .content form select:-ms-input-placeholder {
          text-indent: 0px;
          transition: text-indent 0.3s ease; }
        #reserv .full-container .content form input:focus::-webkit-input-placeholder,
        #reserv .full-container .content form select:focus::-webkit-input-placeholder {
          font-family: OpenSans-Regular;
          font-size: 14px;
          color: #888888;
          text-indent: 500px;
          transition: text-indent 0.3s ease; }
        #reserv .full-container .content form input:focus::-moz-placeholder,
        #reserv .full-container .content form select:focus::-moz-placeholder {
          font-family: OpenSans-Regular;
          font-size: 14px;
          color: #888888;
          text-indent: 500px;
          transition: text-indent 0.3s ease; }
        #reserv .full-container .content form input:focus:-moz-placeholder,
        #reserv .full-container .content form select:focus:-moz-placeholder {
          font-family: OpenSans-Regular;
          font-size: 14px;
          color: #888888;
          text-indent: 500px;
          transition: text-indent 0.3s ease; }
        #reserv .full-container .content form input:focus:-ms-input-placeholder,
        #reserv .full-container .content form select:focus:-ms-input-placeholder {
          font-family: OpenSans-Regular;
          font-size: 14px;
          color: #888888;
          text-indent: 500px;
          transition: text-indent 0.3s ease; }
      #reserv .full-container .content form option {
        font-family: OpenSans-Regular;
        font-size: 14px;
        color: #888888; }
      #reserv .full-container .content form button {
        font-family: OpenSans-Bold;
        font-size: 16px;
        color: #ffffff;
        width: 170px;
        height: 50px;
        margin-top: 22px;
        border: 0;
        box-shadow: none;
        border-radius: 7px;
        background-color: #5b6ceb;
        float: right; }
        #reserv .full-container .content form button:hover {
          background-color: #475bf1; }
    #reserv .full-container .content .info {
      width: 490px; }
      #reserv .full-container .content .info .info-title {
        font-family: OpenSans-Bold;
        font-size: 48px;
        line-height: 1.5;
        color: #ffffff;
        text-transform: uppercase;
        margin-bottom: 50px; }
      #reserv .full-container .content .info .info-description {
        font-family: FreestyleScript;
        font-size: 40px;
        color: #ffffff; }

.program .container {
  padding: 125px 0 100px; }
  .program .container .section-title {
    text-align: center;
    margin-bottom: 25px; }
  .program .container .under-title {
    display: block;
    font-family: FreestyleScript;
    font-size: 41px;
    line-height: 1.5;
    color: #777777;
    text-align: center;
    margin: 0 auto 75px; }
  .program .container .our-classes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .program .container .our-classes .class-block {
      display: flex;
      width: 570px;
      height: 300px;
      margin-bottom: 25px;
      border: 2px solid #5363db;
      border-radius: 7px; }
      .program .container .our-classes .class-block .left-column {
        width: 270px; }
        .program .container .our-classes .class-block .left-column img {
          width: 100%;
          height: 100%; }
      .program .container .our-classes .class-block .right-column {
        width: 300px;
        padding: 50px 0 0 30px; }
        .program .container .our-classes .class-block .right-column .block-title {
          font-family: OpenSans-Bold;
          font-size: 20px;
          color: #777777;
          margin-bottom: 35px;
          text-transform: uppercase; }
        .program .container .our-classes .class-block .right-column .class-info {
          font-family: OpenSans-Regular;
          font-size: 14px;
          line-height: 1.5;
          color: #555555;
          margin-bottom: 15px; }
        .program .container .our-classes .class-block .right-column .caption {
          font-family: OpenSans-Regular;
          font-size: 14px;
          line-height: 1.5;
          color: #999999; }
