@import 'fonts';
@import 'reset';


$sbold: OpenSans-SemiBold;
$bold: OpenSans-Bold;
$regular: OpenSans-Regular;
$italic: OpenSans-Italic;
$free: FreestyleScript;

$white: #ffffff;
$black: #555555;
$blue: #5363db;
$grey: #777777;

.container {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}

.full-container {
	width: 100%;
	max-width: 1900px;
	margin: 0 auto;
}

.section-title {
	font-family: $bold;
	font-size: 30px;
	line-height: 1.5;
	color: #5b6ceb;
	text-transform: uppercase;
}

* {
	&:focus {
		outline: none;
	}
}

header {
	position: fixed;
	height: 100px;
	width: 100%;
	background-color: $white;
	border-bottom: 2px solid $blue;
	-webkit-box-shadow: 0 0 10px 3px $blue ;
	-moz-box-shadow: 0 0 10px 3px $blue ;
	box-shadow: 0 0 10px 3px $blue ;
	z-index: 999999;
	
	.container {
		height: 100%;
		display: flex;
		justify-content: center;
		
		ul {
			width: 100%;
			max-width: 800px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			
			li {
				display: inline;
				position: relative;
				font-family: $sbold;
				font-size: 14px;

				&:hover {
					a {
						color: $blue;
					}

					&:after {
						width: 25%;
					}

					&:before {
						width: 25%;
					}					
				}

				&:after {
					content: '';
					position: absolute;
					width: 0;
					height: 1px;
					left: 50%;
					bottom: -6px;
					background-color: $blue;
					transition: all 0.3s ease;
				}

				&:before {
					content: '';
					position: absolute;
					width: 0;
					height: 1px;
					right: 50%;
					bottom: -6px;
					background-color: $blue;
					transition: all 0.3s ease;
				}

				a {
					text-decoration: none;
					color: $black;
					transition: all 0.3s ease;				
				}

				&.logo {
					width: 370px;
					display: flex;
					justify-content: center;

					&:hover {
						&:after,
						&:before {
							content: none;
						}
					}
				}
			}
		}
	}
}

#reserv {
	padding-top: 100px;

	.full-container {
		height: 600px;
		background: $blue url('../img/bg-img1.jpg') center bottom no-repeat;

		.container {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			height: 100%;
		}

		.content {
			width: 100%;
			max-width: 875px;
			margin-right: 55px;
			display: flex;
			justify-content: space-between;
		
			form {
				width: 300px;
				height: 390px;
				padding: 25px 35px 35px 30px;
				box-sizing: border-box;
				background-color: $white;
				border-radius: 19px;

				.title {
					font-family: $sbold;
					font-size: 26px;
					color: $blue;
					margin-bottom: 22px;
				}

				input,
				select {
					width: 100%;
					height: 50px;
					margin: 10px 0;
					padding-left: 10px;
					background-color: #f2f2f2;
					color: #888888;
					border: 0;
					border-radius: 6px;
					box-sizing: border-box;
					outline: none;

					&::-webkit-input-placeholder {
						text-indent: 0px;
						transition: text-indent 0.3s ease;
					}

					&::-moz-placeholder{
						text-indent: 0px;
						transition: text-indent 0.3s ease;
					}

					&:-moz-placeholder{
						text-indent: 0px;
						transition: text-indent 0.3s ease;
					}

					&:-ms-input-placeholder {
						text-indent: 0px;
						transition: text-indent 0.3s ease;
					}

					&:focus {
						&::-webkit-input-placeholder {
							font-family: $regular;
							font-size: 14px;
							color: #888888;
							text-indent: 500px;
							transition: text-indent 0.3s ease;
						}

						&::-moz-placeholder{
							font-family: $regular;
							font-size: 14px;
							color: #888888;
							text-indent: 500px;
							transition: text-indent 0.3s ease;
						}

						&:-moz-placeholder{
							font-family: $regular;
							font-size: 14px;
							color: #888888;
							text-indent: 500px;
							transition: text-indent 0.3s ease;
						}

						&:-ms-input-placeholder {
							font-family: $regular;
							font-size: 14px;
							color: #888888;
							text-indent: 500px;
							transition: text-indent 0.3s ease;
						}
					}
				}

				option {
					font-family: $regular;
					font-size: 14px;
					color: #888888;
				}

				button {
					font-family: $bold;
					font-size: 16px;
					color: $white;
					width: 170px;
					height: 50px;
					margin-top: 22px; 
					border: 0;
					box-shadow: none;
					border-radius: 7px;
					background-color: #5b6ceb;
					float: right;

					&:hover {
						background-color: #475bf1;
					}
				}
			}			

			.info {
				width: 490px;

				.info-title {
					font-family: $bold;
					font-size: 48px;
					line-height: 1.5;
					color: $white;
					text-transform: uppercase;
					margin-bottom: 50px;
				}

				.info-description {
					font-family: $free;
					font-size: 40px;
					color: $white;
				}
			}
		}
	}
}

.program {
	.container {
		padding: 125px 0 100px;

		.section-title {
			text-align: center;
			margin-bottom: 25px;
		}

		.under-title {
			display: block;
			font-family: $free;
			font-size: 41px;
			line-height: 1.5;
			color: $grey;
			text-align: center;
			margin: 0 auto 75px;
		}
		.our-classes {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			.class-block {
				display: flex;
				width: 570px;
				height: 300px;
				margin-bottom: 25px;
				border-radius: 7px;
				-webkit-box-shadow: 0 0 20px 5px rgba(0, 0, 0, .1);
				-moz-box-shadow: 0 0 20px 5px rgba(0, 0, 0, .1);
				box-shadow: 0 0 20px 5px rgba(0, 0, 0, .1);

				.left-column {
					width: 270px;

					img {
						width: 100%;
						height: 100%;
					}
				}

				.right-column {
					width: 300px;
					padding: 50px 0 0 30px;

					.block-title {
						font-family: $bold;
						font-size: 20px;
						color: $grey;
						margin-bottom: 35px;
						text-transform: uppercase;
					}

					.class-info {
						font-family: $regular;
						font-size: 14px;
						line-height: 1.5;
						color: $black;
						margin-bottom: 15px;
					}

					.caption {
						font-family: $regular;
						font-size: 14px;
						line-height: 1.5;
						color: #999999;
					}
				}
			}
		}
	}
}

.gallery {
	display: flex;
	flex-wrap: wrap;	

	.photo {
		width: 25%;
		height: 350px;

		a {
			position: relative;
			display: block;
			height: 350px;
			overflow: hidden;

			&:hover {
				.search {
					top: 0;
					left: 0;
				}
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			.search {
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				top: -100%;
				left: -100%;
				width: 100%;
				height: 100%;
				background-color: rgba(91, 108, 231, .8);
				transition: all 0.3s linear 0s;

				div {
					width: 57px;
					height: 57px;
					border-radius: 50%;
					background: $white url('../img/search.png') center no-repeat;
				}
			}			
		}		
	}
}

#about {
	height: 550px;

	.container {
		display: flex;
		justify-content: space-between;
		padding: 125px 0;

		.about-block {
			width: 470px;

			.section-title {
				margin-bottom: 30px;
			}

			.about-info {
				font-family: $regular;
				font-size: 14px;
				line-height: 1.5;
				color: $black;
			}			
		}

		.about-slider {
			width: 570px;
			height: 300px;
			border-radius: 7px;

			img {
				width: 100%;
				height: 300px;
				object-fit: cover;
			}

			.slick-prev {
				left: -25px;
				width: 50px;
				height: 50px;
				background: $white url('../img/prev.png') center no-repeat;
				border: 1px solid $blue;
				border-radius: 50%;
				z-index: 2;

				&:before {
					content: '';
				}
			}

			.slick-next {
				right: -25px;
				width: 50px;
				height: 50px;
				background: $white url('../img/next.png') center no-repeat;
				border: 1px solid $blue;
				border-radius: 50%;
				z-index: 2;

				&:before {
					content: '';
				}
			}		
		}
	}
}

#elements {
	.full-container {
		background: $blue url('../img/bg-img2.jpg') center bottom no-repeat;
		background-size: cover;
		padding: 125px 0 75px;

		.container {
			display: flex;
			flex-wrap:wrap;
			justify-content: space-between;

			.element {
				width: 270px;
				height: 250px;
				margin-bottom: 50px;
				text-align: center;


				.element-img {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 70px;
					height: 70px;
					margin: 0 auto;
					border: 1px solid $white;
					border-radius: 50%;
					margin-bottom: 30px;
				}

				.element-title {
					display: block;
					font-family: $bold;
					font-size: 18px;
					line-height: 1.5;
					color: $white;
					text-transform: uppercase;
					margin-bottom: 25px;
				}

				.element-info {
					font-family: $regular;
					font-size: 16px;
					line-height: 1.5;
					color: $white;
				}
			}
		}
	}
}

#shop {
	.container {
		display: flex;
		justify-content: space-between;
		padding: 100px 0;

		.offer {
			width: 370px;
			background: $white;
			border-radius: 8px;
			-webkit-box-shadow: 0 0 50px 9px rgba(0, 0, 0, .1);
			-moz-box-shadow: 0 0 50px 9px rgba(0, 0, 0, .1);
			box-shadow: 0 0 50px 9px rgba(0, 0, 0, .1);

			.offer-header {
				display: flex;
				justify-content: center;
				vertical-align: center;
				padding: 50px 0;
				background: $blue;

				.price {
					display: flex;
					justify-content: space-between;
					align-items: center;
					width: 200px;
					font-family: $bold;
					color: $white;

					.currency {
						font-size: 32px;
					}

					.price-value {
						font-size: 67px;
						margin-left: 24px;
					}

					.month {
						font-size: 18px;
						margin-top: 37px;
					}
				}
			}

			.offer-body {
				padding: 50px 0 60px;
				font-family: $regular;
				font-size: 18px;
				color: $black;
				text-transform: uppercase;

				span {
					display: block;
					position: relative;
					margin: 0 0 50px 70px;

					&:after {
						content: '';
						position: absolute;
						left: 65px;
						bottom: -25px;
						height: 1px;
						width: 99px;
						background: #d7d7d7;
					}

					&:last-of-type {
						&:after {
							content: none;
							background: red;
						}
					}
				}

				button {
					display: block;
					width: 170px;
					height: 50px;
					padding: 0;
					margin: 0 auto;
					font-family: $sbold;
					font-size: 18px;
					color: $white;
					background: $blue;
					border: 1px solid $blue;
					border-radius: 17px;
				}
			}
		}
	}
}

#blog {
	.container {
		position: relative;
		margin-bottom: 200px;

		.blog-wraper {
			position: static;
			height: 250px;
			border-radius: 7px;
			overflow: hidden;
			-webkit-box-shadow: 0 0 50px 9px rgba(0, 0, 0, .1);
			-moz-box-shadow: 0 0 50px 9px rgba(0, 0, 0, .1);
			box-shadow: 0 0 50px 9px rgba(0, 0, 0, .1);
		}

		.blog-block {
			position: absolute;
			left: 0;
			bottom: 0;
			margin: 0;
			opacity: 0;

			.blog-element {
				display: flex;
				justify-content: flex-start;
				background: $white;
				padding: 35px 75px 65px 60px;

				.image {
					position: relative;
					
					img {
						width: 125px;
						height: 125px;
						padding: 10px;
						border: 2px solid #d7d7d7;
						border-radius: 50%;						
					}

					&:after {
						content: '';
						position: absolute;
						right: -45px;
						bottom: 10px;
						width: 2px;
						height: 75px;
						background: #d7d7d7;
					}
				}

				div {
					padding-left: 90px;

					blockquote {
						position: relative;
						width: 640px;
						margin: 10px 0 20px;
						font-family: $italic;
						font-size: 14px;
						line-height: 1.5;
						color: $black;

						&:before {
							content: '“';
							position: absolute;
							font-family: $regular;
							font-size: 60px;
							color: $blue;
							top: -20px;
							left: -50px;
						}

						&:after {
							content: '”';
							position: absolute;
							font-family: $regular;
							font-size: 60px;
							color: $blue;
							bottom: -65px;
							right: -80px;
						}
					}

					span {
						display: block;
						font-family: $regular;
						font-size: 14px;
						color: $grey;
						margin-bottom: 10px;
					}

					.name {
						font-family: $bold;
						font-size: 16px;
						color: #5b6ceb;
					}
				}
			}

			&.hide {
			    transition: bottom 0s 0.3s;
			    opacity: 0;
			}

			&.show {
			    transition: bottom 0.3s;
			    opacity: 1;
			}

			.slick-dots {
				display: flex;
				justify-content: center;
				flex-direction: column;
				right: -70px;
			    bottom: 0;
			    height: 100%;
			    width: 33px;
				z-index: 100;

				li {
					margin-bottom: 18px;
					border: 2px solid #d7d7d7;
					border-radius: 50%;

					&.slick-active {
						border: 2px solid $blue;

						button {
							&:before {
								background: $blue;
								opacity: 1;
							}
						}
					}

					button {
						font-size: 71px;

						&:before {
							content: '';
						    left: 5px;
						    top: 5px;
						    width: 10px;
						    height: 10px;
						    background: #d7d7d7;
						    border-radius: 50%;
						    opacity: 0;
						}
					}
				}
			}
		}

		.blog-tabs {
			position: absolute;
			display: inline-block;
			width: 160px;
			left: 360px;
			bottom: -36px;
			z-index: 100;

			.blog-tab {
				display: flex;
				justify-content: space-between;
				width: 100%;
				cursor: pointer;

				img {
					width: 70px;
					height: 70px;
					border: 1px solid #d7d7d7;
					border-radius: 50%;
				}

				div {
					width: 90px;
					padding: 20px 0 0 10px;

					.name {
						font-family: $bold;
						font-size: 14px;
						color: $black;
						margin-bottom: 10px;
					}

					span {
						font-family: $regular;
						font-size: 12px;
						color: $grey;
					}
				}

			}

			.slick-prev {
				left: -60px;
				width: 30px;
				height: 30px;
				background: $white url('../img/prev.png') center no-repeat;
				border-radius: 50%;
				z-index: 2;
				-webkit-box-shadow: 0 0 9px 9px rgba(0, 0, 0, .1);
				-moz-box-shadow: 0 0 9px 9px rgba(0, 0, 0, .1);
				box-shadow: 0 0 9px 9px rgba(0, 0, 0, .1);

				&:before {
					content: '';
				}
			}

			.slick-next {
				right: -60px;
				width: 30px;
				height: 30px;
				background: $white url('../img/next.png') center no-repeat;
				border-radius: 50%;
				z-index: 2;
				-webkit-box-shadow: 0 0 9px 9px rgba(0, 0, 0, .1);
				-moz-box-shadow: 0 0 9px 9px rgba(0, 0, 0, .1);
				box-shadow: 0 0 9px 9px rgba(0, 0, 0, .1);

				&:before {
					content: '';
				}
			}
		}

	}
}

footer {
	position: relative;
	background: #5b6ceb;

	&:before {
		content: '';
		position: absolute;
		bottom: 100%;
		right: 0;
		height: 615px;
		width: 925px;
		background: url('../img/lotos.png');
		background-size: cover;
		z-index: -1;
	}

	.container {
		display: flex;
		padding: 100px 0;
		font-family: $regular;
		font-size: 14px;
		line-height: 1.5;
		color: $white;

		.footer-title {
			font-family: $bold;
			font-size: 18px;
			color: $white;
			text-transform: uppercase;
			margin-bottom: 60px;
		}

		.about-footer {
			width: 570px;

			.footer-info {
				width: 470px;
				margin-bottom: 70px;
			}

			.social {
				display: flex;
				justify-content: space-between;
				width: 170px;
				height: 21px;

				a {
					width: 17px;
					height: 100%;					
					background: url('../img/social.png')  no-repeat;

					&:hover {
					  -webkit-transform: scale(1.2);
					  -ms-transform: scale(1.2);
					  transform: scale(1.2);
					}

					&.twitter {
						background-position: -34px;
						width: 25px;
					}

					&.facebook {
						background-position: -78px;
						width: 13px;
					}	

					&.google {
						background-position: -113px;
						width: 19px;
					}

					&.instagram {
						background-position: -150px;
						width: 21px;
					}
				}
			}
		}

		.contacts {
			width: 570px;

			.contacts-block {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;

				div {
					width: 235px;
					padding-left: 35px;
					margin-bottom: 30px;
					
					
					&.adress {
						background: url('../img/adress.png') left 6px no-repeat;
					}

					&.email {
						background: url('../img/email.png') left 5px no-repeat;
					}

					&.phone {
						background: url('../img/phone.png') left 6px no-repeat;
					}

					&.url {
						background: url('../img/url.png') left 2px no-repeat;
					}
				}
			}
		}
	}

	.copyright {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100px;
		background: $blue;

		span {
			font-family: $regular;
			font-size: 16px;
			color: #b7bffc;
		}
	}
}


.lightbox {
	.lb-image {
		border-color: $blue;
	}
}

.lb-nav {
	a {
		&.lb-prev {
			background-position: 20px 48%;
		}

		&.lb-next {
			background-position: calc(100% - 20px) 48%;
		}
	}
}





@import 'media';