@import 'fonts';
@import 'reset';


$sbold: OpenSans-SemiBold;
$bold: OpenSans-Bold;
$regular: OpenSans-Regular;
$free: FreestyleScript;

$white: #ffffff;
$black: #555555;
$blue: #5363db;
$grey: #777777;

.container {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}

.full-container {
	width: 100%;
	max-width: 1900px;
	margin: 0 auto;
}

.section-title {
	font-family: $bold;
	font-size: 30px;
	line-height: 1.5;
	color: #5b6ceb;
	text-transform: uppercase;
}

header {
	height: 100px;
	background-color: $white;
	
	.container {
		height: 100%;
		display: flex;
		justify-content: center;
		
		ul {
			width: 100%;
			max-width: 800px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			
			li {
				display: inline;
				position: relative;
				font-family: $sbold;
				font-size: 14px;

				&:hover {
					a {
						color: $blue;
					}

					&:after {
						content: '';
						position: absolute;
						width: 50%;
						height: 1px;
						left: 25%;
						bottom: -6px;
						background-color: $blue;
					}
				}

				a {
					text-decoration: none;
					color: $black;					
				}

				&.logo {
					width: 370px;
					display: flex;
					justify-content: center;

					&:hover {
						&:after {
							content: none;
						}
					}
				}
			}
		}
	}
}

#reserv {
	.full-container {
		height: 600px;
		background: $blue url('../img/bg-img1.jpg') center bottom no-repeat;

		.container {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			height: 100%;
		}

		.content {
			width: 100%;
			max-width: 875px;
			margin-right: 55px;
			display: flex;
			justify-content: space-between;
			z-index: 2;

			form {
				width: 300px;
				height: 390px;
				padding: 25px 35px 35px 30px;
				box-sizing: border-box;
				background-color: $white;
				border-radius: 19px;

				.title {
					font-family: $sbold;
					font-size: 26px;
					color: $blue;
					margin-bottom: 22px;

				}

				input,
				select {
					width: 100%;
					height: 50px;
					margin: 10px 0;
					padding-left: 10px;
					background-color: #f2f2f2;
					color: #888888;
					border: 0;
					border-radius: 6px;
					box-sizing: border-box;
					outline: none;

					&::-webkit-input-placeholder {
						text-indent: 0px;
						transition: text-indent 0.3s ease;
					}

					&::-moz-placeholder{
						text-indent: 0px;
						transition: text-indent 0.3s ease;
					}

					&:-moz-placeholder{
						text-indent: 0px;
						transition: text-indent 0.3s ease;
					}

					&:-ms-input-placeholder {
						text-indent: 0px;
						transition: text-indent 0.3s ease;
					}

					&:focus {
						&::-webkit-input-placeholder {
							font-family: $regular;
							font-size: 14px;
							color: #888888;
							text-indent: 500px;
							transition: text-indent 0.3s ease;
						}

						&::-moz-placeholder{
							font-family: $regular;
							font-size: 14px;
							color: #888888;
							text-indent: 500px;
							transition: text-indent 0.3s ease;
						}

						&:-moz-placeholder{
							font-family: $regular;
							font-size: 14px;
							color: #888888;
							text-indent: 500px;
							transition: text-indent 0.3s ease;
						}

						&:-ms-input-placeholder {
							font-family: $regular;
							font-size: 14px;
							color: #888888;
							text-indent: 500px;
							transition: text-indent 0.3s ease;
						}
					}
				}

				option {
					font-family: $regular;
					font-size: 14px;
					color: #888888;
				}

				button {
					font-family: $bold;
					font-size: 16px;
					color: $white;
					width: 170px;
					height: 50px;
					margin-top: 22px; 
					border: 0;
					box-shadow: none;
					border-radius: 7px;
					background-color: #5b6ceb;
					float: right;

					&:hover {
						background-color: #475bf1;
					}
				}
			}			

			.info {
				width: 490px;

				.info-title {
					font-family: $bold;
					font-size: 48px;
					line-height: 1.5;
					color: $white;
					text-transform: uppercase;
					margin-bottom: 50px;
				}

				.info-description {
					font-family: $free;
					font-size: 40px;
					color: $white;
				}
			}
		}
	}
}

.program {
	.container {
		padding: 125px 0 100px;

		.section-title {
			text-align: center;
			margin-bottom: 25px;
		}

		.under-title {
			display: block;
			font-family: $free;
			font-size: 41px;
			line-height: 1.5;
			color: $grey;
			text-align: center;
			margin: 0 auto 75px;
		}
		.our-classes {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			.class-block {
				display: flex;
				width: 570px;
				height: 300px;
				margin-bottom: 25px;
				border: 2px solid $blue;
				border-radius: 7px;

				.left-column {
					width: 270px;

					img {
						width: 100%;
						height: 100%;
					}
				}

				.right-column {
					width: 300px;
					padding: 50px 0 0 30px;

					.block-title {
						font-family: $bold;
						font-size: 20px;
						color: $grey;
						margin-bottom: 35px;
						text-transform: uppercase;
					}

					.class-info {
						font-family: $regular;
						font-size: 14px;
						line-height: 1.5;
						color: $black;
						margin-bottom: 15px;
					}

					.caption {
						font-family: $regular;
						font-size: 14px;
						line-height: 1.5;
						color: #999999;
					}
				}
			}
		}
	}
}

.gallery {
	display: flex;
	flex-wrap: wrap;	

	.photo {
		width: 25%;
		height: 350px;

		a {
			position: relative;
			display: block;
			height: 350px;
			overflow: hidden;

			&:hover {
				.search {
					top: 0;
					left: 0;
				}
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			.search {
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				top: -100%;
				left: -100%;
				width: 100%;
				height: 100%;
				background-color: rgba(91, 108, 231, .8);
				transition: all 0.3s linear 0s;

				div {
					width: 57px;
					height: 57px;
					border-radius: 50%;
					background: $white url('../img/search.png') center no-repeat;
				}
			}			
		}		
	}
}

#about {
	height: 550px;

	.container {
		display: flex;
		justify-content: space-between;
		padding: 125px 0;

		.about-block {
			width: 470px;

			.section-title {
				margin-bottom: 30px;
			}

			.about-info {
				font-family: $regular;
				font-size: 14px;
				line-height: 1.5;
				color: $black;
			}			
		}

		.about-slider {
			width: 570px;
			height: 300px;
			border-radius: 7px;

			img {
				width: 100%;
				height: 300px;
				object-fit: cover;
			}

			.slick-prev {
				left: -25px;
				width: 50px;
				height: 50px;
				background: $white url('../img/prev.png') center no-repeat;
				border: 1px solid $blue;
				border-radius: 50%;
				z-index: 2;

				&:before {
					content: '';
				}
			}

			.slick-next {
				right: -25px;
				width: 50px;
				height: 50px;
				background: $white url('../img/next.png') center no-repeat;
				border: 1px solid $blue;
				border-radius: 50%;
				z-index: 2;

				&:before {
					content: '';
				}
			}		
		}
	}
}

#elements {
	.full-container {
		height: 550px;
		background: $blue url('../img/bg-img2.jpg') center bottom no-repeat;
		padding: 125px 0 75px;

		.container {
			display: flex;
			flex-wrap:wrap;
			justify-content: space-between;

			.element {
				width: 270px;
				height: 250px;
				margin-bottom: 50px;
				text-align: center;


				.element-img {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 70px;
					height: 70px;
					margin: 0 auto;
					border: 1px solid $white;
					border-radius: 50%;
					margin-bottom: 30px;
				}

				.element-title {
					display: block;
					font-family: $bold;
					font-size: 18px;
					line-height: 1.5;
					color: $white;
					text-transform: uppercase;
					margin-bottom: 25px;
				}

				.element-info {
					font-family: $regular;
					font-size: 16px;
					line-height: 1.5;
					color: $white;
				}
			}
		}
	}
}


.lightbox {
	.lb-image {
		border-color: $blue;
	}
}

.lb-nav {
	a {
		&.lb-prev {
			background-position: 20px 48%;
		}

		&.lb-next {
			background-position: calc(100% - 20px) 48%;
		}
	}
}





@import 'media';