@import 'fonts';
@import 'reset';


$sbold: OpenSans-SemiBold;
$bold: OpenSans-Bold;
$regular: OpenSans-Regular;
$free: FreestyleScript;

$white: #ffffff;
$black: #555555;
$hover: #5363db;

.container {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}

.full-container {
	width: 100%;
	max-width: 1900px;
	margin: 0 auto;
}

header {
	height: 100px;
	background-color: $white;
	
	.container {
		height: 100%;
		display: flex;
		justify-content: center;
		
		ul {
			width: 100%;
			max-width: 800px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			
			li {
				display: inline;
				position: relative;
				font-family: $sbold;
				font-size: 14px;
				color: $black;

				&:hover {
					color: $hover;

					&:after {
						content: '';
						position: absolute;
						width: 50%;
						height: 1px;
						left: 25%;
						bottom: -6px;
						background-color: $hover;
					}
				}

				&.logo {
					width: 370px;
					display: flex;
					justify-content: center;

					&:hover {
						&:after {
							content: none;
						}
					}
				}
			}
		}
	}
}





@import 'media';